# Programming Assignment 2

**1. Write a Python program to convert kilometers to miles?**

In [3]:
# 1 kilometer equals 0.62137 miles.

a = float(input("Enter Kilometer value : "))
b = a*0.62137
print("Kilometer in miles : ", b)

Enter Kilometer value : 5
Kilometer in miles :  3.1068499999999997

**2. Write a Python program to convert Celsius to Fahrenheit?**

In [6]:
# Fahrenheit = (Celsius * 1.8) + 32

a = float(input("Enter Celsius : "))
b = a * 1.8 +32
print("Fahrenheit : ", b)

Enter Celsius : 37
Fahrenheit :  98.60000000000001

**3. Write a Python program to display calendar?**

In [7]:

# import module
import calendar
 
yy = int(input("Enter an year :"))
mm = int(input("Enter a month :"))
 
# display the calendar
print("calendar of given month and year")
print(calendar.month(yy, mm))

print("calendar of given year")
print(calendar.calendar(yy))

Enter an year :2023
Enter a month :5
calendar of given month and year
      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

calendar of given year
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

**4. Write a Python program to solve quadratic equation?**

In [10]:
# import complex math module
import cmath
 
a = 5
b = 4
c = -3
 
# calculating  the discriminant
dis = (b**2) - (4 * a*c)
 
# find two results
ans1 = (-b-cmath.sqrt(dis))/(2 * a)
ans2 = (-b + cmath.sqrt(dis))/(2 * a)
 
# printing the results
print('The roots are')
print(ans1)
print(ans2)

The roots are
(-1.2717797887081348+0j)
(0.4717797887081348+0j)

**5. Write a Python program to swap two variables without temp variable?**

In [11]:
x = 10
y = 50
 
# Swapping of two variables
# without using third variable
x, y = y, x
 
print("Value of x: ", x)
print("Value of y: ", y)

Value of x:  50
Value of y:  10